<h1>Type a word, get it's scrabble score!</h1>
<form action="/score">
  <label for="score">Your word: </label>
  <input type="text" name="score" id="score" class="form-control" placeholder="Type your word">
  <button type="submit" name="button">Submit</button>
</form>
